Integracion/Web References/net.azurewebsites.integracionwebservice201912344/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://intec.edu.do" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://intec.edu.do" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://intec.edu.do">
      <s:element name="InsertarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerClienteResult" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numeroCuenta" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCuentaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerCuentas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCuentasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCuentasResult" type="tns:ArrayOfCuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCuenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cuenta" nillable="true" type="tns:Cuenta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cuenta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="numeroCuenta" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="clienteCedula" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="balanceDisponible" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prestamos" type="tns:ArrayOfPrestamo" />
          <s:element minOccurs="0" maxOccurs="1" name="transacciones" type="tns:ArrayOfTransaccion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPrestamo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Prestamo" nillable="true" type="tns:Prestamo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Prestamo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="numeroCuenta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="montoPendientePorPagar" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransaccion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Transaccion" nillable="true" type="tns:Transaccion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transaccion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="numeroCuenta" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoTransaccion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numeroCuenta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCuentaResult" type="tns:Cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarTransaccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuentaRetiro" type="tns:Cuenta" />
            <s:element minOccurs="0" maxOccurs="1" name="cuentaDeposito" type="tns:Cuenta" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarTransaccionResponse">
        <s:complexType />
      </s:element>
      <s:element name="DepositarMonto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuenta" type="tns:Cuenta" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DepositarMontoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DepositarMontoResult" type="tns:Cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetirarMonto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuenta" type="tns:Cuenta" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetirarMontoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetirarMontoResult" type="tns:Cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarPrestamo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numeroCuenta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarPrestamoResponse">
        <s:complexType />
      </s:element>
      <s:element name="PagarPrestamo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuenta" type="tns:Cuenta" />
            <s:element minOccurs="0" maxOccurs="1" name="prestamo" type="tns:Prestamo" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PagarPrestamoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PagarPrestamoResult" type="tns:Cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerTodasTransaccionesDelDia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerTodasTransaccionesDelDiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerTodasTransaccionesDelDiaResult" type="tns:ArrayOfTransaccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerTodasTransaccionesRango">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fechaComienzo" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaFinal" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerTodasTransaccionesRangoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerTodasTransaccionesRangoResult" type="tns:ArrayOfTransaccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarCliente" />
  </wsdl:message>
  <wsdl:message name="InsertarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCliente" />
  </wsdl:message>
  <wsdl:message name="ObtenerClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerClienteResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarCuenta" />
  </wsdl:message>
  <wsdl:message name="InsertarCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCuentasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCuentas" />
  </wsdl:message>
  <wsdl:message name="ObtenerCuentasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCuentasResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCuenta" />
  </wsdl:message>
  <wsdl:message name="ObtenerCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="RealizarTransaccionSoapIn">
    <wsdl:part name="parameters" element="tns:RealizarTransaccion" />
  </wsdl:message>
  <wsdl:message name="RealizarTransaccionSoapOut">
    <wsdl:part name="parameters" element="tns:RealizarTransaccionResponse" />
  </wsdl:message>
  <wsdl:message name="DepositarMontoSoapIn">
    <wsdl:part name="parameters" element="tns:DepositarMonto" />
  </wsdl:message>
  <wsdl:message name="DepositarMontoSoapOut">
    <wsdl:part name="parameters" element="tns:DepositarMontoResponse" />
  </wsdl:message>
  <wsdl:message name="RetirarMontoSoapIn">
    <wsdl:part name="parameters" element="tns:RetirarMonto" />
  </wsdl:message>
  <wsdl:message name="RetirarMontoSoapOut">
    <wsdl:part name="parameters" element="tns:RetirarMontoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarPrestamoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarPrestamo" />
  </wsdl:message>
  <wsdl:message name="InsertarPrestamoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="PagarPrestamoSoapIn">
    <wsdl:part name="parameters" element="tns:PagarPrestamo" />
  </wsdl:message>
  <wsdl:message name="PagarPrestamoSoapOut">
    <wsdl:part name="parameters" element="tns:PagarPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerTodasTransaccionesDelDiaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerTodasTransaccionesDelDia" />
  </wsdl:message>
  <wsdl:message name="ObtenerTodasTransaccionesDelDiaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerTodasTransaccionesDelDiaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerTodasTransaccionesRangoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerTodasTransaccionesRango" />
  </wsdl:message>
  <wsdl:message name="ObtenerTodasTransaccionesRangoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerTodasTransaccionesRangoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="InsertarCliente">
      <wsdl:input message="tns:InsertarClienteSoapIn" />
      <wsdl:output message="tns:InsertarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCliente">
      <wsdl:input message="tns:ObtenerClienteSoapIn" />
      <wsdl:output message="tns:ObtenerClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarCuenta">
      <wsdl:input message="tns:InsertarCuentaSoapIn" />
      <wsdl:output message="tns:InsertarCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuentas">
      <wsdl:input message="tns:ObtenerCuentasSoapIn" />
      <wsdl:output message="tns:ObtenerCuentasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuenta">
      <wsdl:input message="tns:ObtenerCuentaSoapIn" />
      <wsdl:output message="tns:ObtenerCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RealizarTransaccion">
      <wsdl:input message="tns:RealizarTransaccionSoapIn" />
      <wsdl:output message="tns:RealizarTransaccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DepositarMonto">
      <wsdl:input message="tns:DepositarMontoSoapIn" />
      <wsdl:output message="tns:DepositarMontoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetirarMonto">
      <wsdl:input message="tns:RetirarMontoSoapIn" />
      <wsdl:output message="tns:RetirarMontoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarPrestamo">
      <wsdl:input message="tns:InsertarPrestamoSoapIn" />
      <wsdl:output message="tns:InsertarPrestamoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PagarPrestamo">
      <wsdl:input message="tns:PagarPrestamoSoapIn" />
      <wsdl:output message="tns:PagarPrestamoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodasTransaccionesDelDia">
      <wsdl:input message="tns:ObtenerTodasTransaccionesDelDiaSoapIn" />
      <wsdl:output message="tns:ObtenerTodasTransaccionesDelDiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodasTransaccionesRango">
      <wsdl:input message="tns:ObtenerTodasTransaccionesRangoSoapIn" />
      <wsdl:output message="tns:ObtenerTodasTransaccionesRangoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarCliente">
      <soap:operation soapAction="http://intec.edu.do/InsertarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCliente">
      <soap:operation soapAction="http://intec.edu.do/ObtenerCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCuenta">
      <soap:operation soapAction="http://intec.edu.do/InsertarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuentas">
      <soap:operation soapAction="http://intec.edu.do/ObtenerCuentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuenta">
      <soap:operation soapAction="http://intec.edu.do/ObtenerCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarTransaccion">
      <soap:operation soapAction="http://intec.edu.do/RealizarTransaccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepositarMonto">
      <soap:operation soapAction="http://intec.edu.do/DepositarMonto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetirarMonto">
      <soap:operation soapAction="http://intec.edu.do/RetirarMonto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPrestamo">
      <soap:operation soapAction="http://intec.edu.do/InsertarPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PagarPrestamo">
      <soap:operation soapAction="http://intec.edu.do/PagarPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodasTransaccionesDelDia">
      <soap:operation soapAction="http://intec.edu.do/ObtenerTodasTransaccionesDelDia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodasTransaccionesRango">
      <soap:operation soapAction="http://intec.edu.do/ObtenerTodasTransaccionesRango" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarCliente">
      <soap12:operation soapAction="http://intec.edu.do/InsertarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCliente">
      <soap12:operation soapAction="http://intec.edu.do/ObtenerCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCuenta">
      <soap12:operation soapAction="http://intec.edu.do/InsertarCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuentas">
      <soap12:operation soapAction="http://intec.edu.do/ObtenerCuentas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuenta">
      <soap12:operation soapAction="http://intec.edu.do/ObtenerCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarTransaccion">
      <soap12:operation soapAction="http://intec.edu.do/RealizarTransaccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepositarMonto">
      <soap12:operation soapAction="http://intec.edu.do/DepositarMonto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetirarMonto">
      <soap12:operation soapAction="http://intec.edu.do/RetirarMonto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPrestamo">
      <soap12:operation soapAction="http://intec.edu.do/InsertarPrestamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PagarPrestamo">
      <soap12:operation soapAction="http://intec.edu.do/PagarPrestamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodasTransaccionesDelDia">
      <soap12:operation soapAction="http://intec.edu.do/ObtenerTodasTransaccionesDelDia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodasTransaccionesRango">
      <soap12:operation soapAction="http://intec.edu.do/ObtenerTodasTransaccionesRango" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://integracionwebservice201912344.azurewebsites.net/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://integracionwebservice201912344.azurewebsites.net/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>