Integracion/Connected Services/IntegracionReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://intec.edu.do" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://intec.edu.do" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://intec.edu.do">
      <s:element name="ObtenerCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numeroCuenta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCuentaResult" type="tns:Cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cuenta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="numeroCuenta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="clienteId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="balanceDisponible" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prestamos" type="tns:ArrayOfPrestamo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPrestamo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Prestamo" nillable="true" type="tns:Prestamo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Prestamo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="numeroCuenta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="montoPendientePorPagar" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="RealizarTransaccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numeroCuentaRetiro" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numeroCuentaDeposito" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoTransaccion" type="tns:TipoTransaccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="TipoTransaccion">
        <s:restriction base="s:string">
          <s:enumeration value="Interbancaria" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RealizarTransaccionResponse">
        <s:complexType />
      </s:element>
      <s:element name="DepositarMonto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuenta" type="tns:Cuenta" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DepositarMontoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DepositarMontoResult" type="tns:Cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetirarMonto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuenta" type="tns:Cuenta" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetirarMontoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetirarMontoResult" type="tns:Cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarCajero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarCajeroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidarCajeroResult" type="tns:Cajero" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cajero">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerTodasTransacciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numeroCuenta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerTodasTransaccionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerTodasTransaccionesResult" type="tns:ArrayOfTransaccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransaccion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Transaccion" nillable="true" type="tns:Transaccion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transaccion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoTransaccion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCuenta" />
  </wsdl:message>
  <wsdl:message name="ObtenerCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="RealizarTransaccionSoapIn">
    <wsdl:part name="parameters" element="tns:RealizarTransaccion" />
  </wsdl:message>
  <wsdl:message name="RealizarTransaccionSoapOut">
    <wsdl:part name="parameters" element="tns:RealizarTransaccionResponse" />
  </wsdl:message>
  <wsdl:message name="DepositarMontoSoapIn">
    <wsdl:part name="parameters" element="tns:DepositarMonto" />
  </wsdl:message>
  <wsdl:message name="DepositarMontoSoapOut">
    <wsdl:part name="parameters" element="tns:DepositarMontoResponse" />
  </wsdl:message>
  <wsdl:message name="RetirarMontoSoapIn">
    <wsdl:part name="parameters" element="tns:RetirarMonto" />
  </wsdl:message>
  <wsdl:message name="RetirarMontoSoapOut">
    <wsdl:part name="parameters" element="tns:RetirarMontoResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarCajeroSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarCajero" />
  </wsdl:message>
  <wsdl:message name="ValidarCajeroSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarCajeroResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerTodasTransaccionesSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerTodasTransacciones" />
  </wsdl:message>
  <wsdl:message name="ObtenerTodasTransaccionesSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerTodasTransaccionesResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="ObtenerCuenta">
      <wsdl:input message="tns:ObtenerCuentaSoapIn" />
      <wsdl:output message="tns:ObtenerCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RealizarTransaccion">
      <wsdl:input message="tns:RealizarTransaccionSoapIn" />
      <wsdl:output message="tns:RealizarTransaccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DepositarMonto">
      <wsdl:input message="tns:DepositarMontoSoapIn" />
      <wsdl:output message="tns:DepositarMontoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetirarMonto">
      <wsdl:input message="tns:RetirarMontoSoapIn" />
      <wsdl:output message="tns:RetirarMontoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCajero">
      <wsdl:input message="tns:ValidarCajeroSoapIn" />
      <wsdl:output message="tns:ValidarCajeroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodasTransacciones">
      <wsdl:input message="tns:ObtenerTodasTransaccionesSoapIn" />
      <wsdl:output message="tns:ObtenerTodasTransaccionesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCuenta">
      <soap:operation soapAction="http://intec.edu.do/ObtenerCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarTransaccion">
      <soap:operation soapAction="http://intec.edu.do/RealizarTransaccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepositarMonto">
      <soap:operation soapAction="http://intec.edu.do/DepositarMonto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetirarMonto">
      <soap:operation soapAction="http://intec.edu.do/RetirarMonto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCajero">
      <soap:operation soapAction="http://intec.edu.do/ValidarCajero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodasTransacciones">
      <soap:operation soapAction="http://intec.edu.do/ObtenerTodasTransacciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCuenta">
      <soap12:operation soapAction="http://intec.edu.do/ObtenerCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarTransaccion">
      <soap12:operation soapAction="http://intec.edu.do/RealizarTransaccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepositarMonto">
      <soap12:operation soapAction="http://intec.edu.do/DepositarMonto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetirarMonto">
      <soap12:operation soapAction="http://intec.edu.do/RetirarMonto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCajero">
      <soap12:operation soapAction="http://intec.edu.do/ValidarCajero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodasTransacciones">
      <soap12:operation soapAction="http://intec.edu.do/ObtenerTodasTransacciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:63490/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:63490/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>